@viewport {
   width: device-width;
   zoom: 1;
}

* {
   box-sizing: border-box; /* Ensures padding and border are included in total width for all HTML elements. */
}

@media (min-width: 300px) and (max-width: 360px) {
   [class*="col-"] {
       float: left;
       padding: 5px;
   }
   
   .title {
      font-size: 1.5em;
      text-align: center;
   }
      
   li a {
      font-size: .85em;
      padding: 4px;
   }
   
   h1 {
      font-size: 1.25em;
      text-align: center;
      padding-left: 0;
   }
   
   p {
      font-size: .85em;
   }
   
   .col-s-1 {width: 25%;}
   .col-s-2 {width: 50%;}
   .col-s-3 {width: 75%;}
   .col-s-4 {width: 100%;}
   .col-quarter{width: 25%}
   .col-third{width: 33%}
   .col-half{width: 50%}

}

@media (min-width: 361px) and (max-width: 500px) {
   [class*="col-"] {
      float: left;
      padding: 5px;
   }
   
   .title {
      font-size: 2.0em;
      text-align: center;
   }
   
   li a {
      font-size: 1.0em;
      padding: 6px;
   }
   
   h1 {
      font-size: 1.5em;
      text-align: center;
      padding-left: 0;
   }
   
   p {
      font-size: 1.0em;
   }
   .col-s-1 {width: 25%;}
   .col-s-2 {width: 50%;}
   .col-s-3 {width: 75%;}
   .col-s-4 {width: 100%;}
   .col-quarter{width: 25%}
   .col-third{width: 33%}
   .col-half{width: 50%}
   
   
}

@media (min-width: 501px) and (max-width: 720px) {
   [class*="col-"] {
      float: left;
      padding: 10px;
   }
   
   .title {
      font-size: 2.5em;
      text-align: center;
   }
   
   li a {
      font-size: 1.25em;
      padding: 8px;
   }
   
   h1 {
      font-size: 2.0em;
      text-align: center;
      padding-left: 0;
   }
   
   .col-s-1 {width: 25%;}
   .col-s-2 {width: 50%;}
   .col-s-3 {width: 75%;}
   .col-s-4 {width: 100%;}
   .col-quarter{width: 25%}
   .col-third{width: 33%}
   .col-half{width: 50%}
}

@media (min-width: 721px) and (max-width: 900px) {
   [class*="col-"] {
      float: left;
      padding: 10px;
   }
   
   .title {
      font-size: 3.0em;
      text-align: center;
   }
   
   li a {
      font-size: 1.5em;
      padding: 10px;
   }
   
   h1 {
      font-size: 2.0em;
      text-align: center;
      padding-left: 0;
   }
   
   .col-m-1 {width: 8.33%;}
   .col-m-2 {width: 16.66%;}
   .col-m-3 {width: 25%;}
   .col-m-4 {width: 33.33%;}
   .col-m-5 {width: 41.66%;}
   .col-m-6 {width: 50%;}
   .col-m-7 {width: 58.33%;}
   .col-m-8 {width: 66.66%;}
   .col-m-9 {width: 75%;}
   .col-m-10 {width: 83.33%;}
   .col-m-11 {width: 91.66%;}
   .col-m-12 {width: 100%;}
   .col-quarter{width: 25%}
   .col-third{width: 33%}
   .col-half{width: 50%}
   .col-m-center{ 
      float: none;
      margin: auto;
   }
}

@media (min-width: 901px) and (max-width: 1200px) {
   [class*="col-"] {
       float: left;
       padding: 15px;
   }

   .col-l-1 {width: 8.33%;}
   .col-l-2 {width: 16.66%;}
   .col-l-3 {width: 25%;}
   .col-l-4 {width: 33.33%;}
   .col-l-5 {width: 41.66%;}
   .col-l-6 {width: 50%;}
   .col-l-7 {width: 58.33%;}
   .col-l-8 {width: 66.66%;}
   .col-l-9 {width: 75%;}
   .col-l-10 {width: 83.33%;}
   .col-l-11 {width: 91.66%;}
   .col-l-12 {width: 100%;}
   .col-quarter{width: 25%}
   .col-third{width: 33%}
   .col-half{width: 50%}
   .col-l-center{ 
      float: none;
      margin: auto;
   }
   
   .title {
      font-size: 3.5em;
      text-align: center;
   }
   
   li {
      padding-top: 0;
      padding-bottom: 0;
   }
   li a {
      font-size: 1.5em;
      padding: 10px;
   }
   
   h1 {
      font-size: 2.0em;
      padding-left: 20px;
   }
}

@media (min-width: 1201px) {
   [class*="col-"] {
       float: left;
       padding: 15px;
   }

   .col-xl-1 {width: 8.33%;}
   .col-xl-2 {width: 16.66%;}
   .col-xl-3 {width: 25%;}
   .col-xl-4 {width: 33.33%;}
   .col-xl-5 {width: 41.66%;}
   .col-xl-6 {width: 50%;}
   .col-xl-7 {width: 58.33%;}
   .col-xl-8 {width: 66.66%;}
   .col-xl-9 {width: 75%;}
   .col-xl-10 {width: 83.33%;}
   .col-xl-11 {width: 91.66%;}
   .col-xl-12 {width: 100%;}
   .col-quarter{width: 25%}
   .col-third{width: 33%}
   .col-half{width: 50%}
   .col-xl-center{ 
      float: none;
      margin: auto;
   }
   
   .title {
      font-size: 3.5em;
      text-align: center;
   }
   
   li {
      padding-top: 0;
      padding-bottom: 0;
      width: auto;
   }
   
   li a {
      font-size: 1.5em;
      padding: 10px;
   }
   
   h1 {
      font-size: 2.0em;
      padding-left: 20px;
   }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}