.carousel-container {
   position: relative;
   width: 70%;
   height: 270px;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
   margin-top: 20px;
   margin-bottom: 20px;
   border: 1px solid red;
}

.custom-carousel {
   position: relative;
   width: 100%;
   height: 270px;
   padding: 10px;
   margin: auto;
}

.item {
   position: absolute;
   visibility: hidden;
   width: 250px;
   left: -300px;
   margin-left: 10px;
   margin-right: 10px;
   opacity: 0.0;
   -webkit-transition: left .5s, right .5s, visibility .5, opacity .5s;
   transition: left .5s, right .5s, visibility .5s, opacity .5s;
}

.active {
   display: block;
   visibility: visible;
   opacity: 1.0;
   position: absolute;
}

.inactive {
   visibility: hidden;
   position: absolute; 
}

.inactive.left {
   right: -10%;
}

.inactive.right {
   left: 110%;
}

.img-resize {
   position: relative;
   width: 100%;
}

.custom-carousel-control {
   position: absolute;
   height: 25px;
   width: auto;
   margin-left: 10px;
   margin-right: 10px;
   top: 45%;
   font-size: 20px;
   color: #717171;
   text-align: center;
   text-shadow: 0 1px 2px rgba(0,0,0,.6);
   opacity: .5;
}

.custom-carousel-control:hover {
   cursor: pointer;
}
.custom-carousel-control i {
   position: relative;
   margin: auto;
}

.custom-carousel-control.left {
   margin-left: 10px;
   right: auto;
   left: 0;
}

.custom-carousel-control.right {
   margin-right: 10px;
   right: 0;
   left: auto;
}


.input-label {
   position: relative;
   left: 15%;
}

.table-container {
   position: absolute;
   left: 20%;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
}

a:hover {
   cursor: pointer;
}